<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV-World</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/media.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>

<body>
    <!-- Header -->
    <!-- Navbar -->

    <div class="container-sm">
        <nav class="navbar navbar-expand-lg navbar">
            <a class="navbar-brand logo" href="#"><img src="/images/logo.webp" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home", new { area= "default"})">Əsas</a>
                    </li>
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Catalog", new { area="default"})">Kataloq</a>
                    </li>
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Vacancy", new { area="default"})">Vakansiyalar</a>
                    </li>
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Contact", new { area="default"})">Əlaqə</a>
                    </li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        var user = Context.User.Claims.Where(c => c.Type == "Name").FirstOrDefault();

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@user?.Value</a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">Vakansiya əlavə et</a>
                                <a class="dropdown-item" href="#">Mənim vakansiyalarım</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account", new { area = "Company" })">Çıxış et</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login","Account", new {area = "Company"})">Login Ol</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </div>
    <!-- Navbar End-->
    <!-- Header End -->
    <main>
        @RenderBody()
    </main>
    <!-- Footer -->
    <div class="footer">
        <div class="col-md-4">
            <div class="container-sm"><img src="/images/logo.png" alt=""></div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>

    </div>
    <div class="footer-border row">
        <div class="col-md-4 left-p">
            <p>Copyright © 2023</p>
        </div>
        <div class="col-md-4 right-p">
            <p>CV-Land</p>
        </div>
    </div>
    <!-- Footer End -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>