@model List<VacancyDto>

<main>
    <!-- Example job vacancy listings using Bootstrap classes -->
    <div class="container mt-4 search-form">
        <form method="get" action="/Search">
            <!-- Replace '/Search' with your actual search URL -->
            <div class="row">
                <div class="col-md-3 search-option">
                    <div class="form-group">
                        <label for="jobCategory" class="search-label">Job Category</label>
                        <select class="form-control" id="jobCategory" name="jobCategory">
                            <!-- Populate with job category options -->
                            @foreach (var item in ViewBag.JobCategories)
                            {

                                <option value="@item.JobCategoryId">@item.JobCategoryName</option>
                            }
                            <!-- Add more job category options as needed -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3 search-option">
                    <div class="form-group">
                        <label for="jobType" class="search-label">Job Type</label>
                        <select class="form-control" id="jobType" name="jobType">
                            <!-- Populate with job type options -->
                            @foreach (var item in ViewBag.JobTypes)
                            {

                                <option value="@item.JobTypeId">@item.JobTypeName</option>
                            }
                            <!-- Add more job type options as needed -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3 search-option">
                    <div class="form-group">
                        <label for="workForm" class="search-label">WorkForm</label>
                        <select class="form-control" id="workForm" name="workForm">
                            <!-- Populate with work form options -->
                            @foreach (var item in ViewBag.WorkForms)
                            {
                                <option value="@item.WorkFormId">@item.WorkFormName</option>
                            }
                            <!-- Add more work form options as needed -->
                        </select>
                    </div>
                </div>
                <div class="col-md-3 search-option">
                    <div class="form-group mt-4">
                        <button type="button" id="search-button" class="btn btn-primary float-right search-btn" style="width:100%">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @* //////// *@
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <div class="vacancy mb-3 border p-3">
                        <div class="row">
                            <div class="col-md-2 vacancy-mobile">
                                <a href="@Url.Action("Chosen","Vacancy", new { id = item.VacancyId})">
                                    <img style="max-width: 80px; max-height: 80px;"
                                         class="company-logo"
                                         src="~/images/logos/@item.CompanyLogoImage"
                                         alt="Company Logo" />

                                </a>
                            </div>
                            <div class="col-md-6 vacancy-mobile-2">
                                <h3 class="job-title">@item.VacancyName</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><i class="fas fa-building"></i> @item.CompanyName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><i class="fas fa-map-marker"></i> @item.CityName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><i class="fas fa-calendar"></i> Son gün: @item.ExpireDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-div" style="width: 37%; float: right">
                                    <p class="full-time">
                                        <i class="fas fa-clock"></i> @item.JobTypeName
                                    </p>
                                    <p><i class="fas fa-calendar"></i> @item.StartDate.ToString("dd.MM.yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Pagination", ViewBag.PaginationModel)
        </div>
    </div>

</main>



<!-- BEGIN GLOBAL MANDATORY STYLES -->
<script src="~/company/bootstrap/js/popper.min.js"></script>
<script src="~/company/bootstrap/js/bootstrap.min.js"></script>
<script src="~/company/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/company/assets/js/app.js"></script>
<script src="~/js/search.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts{
    <script>
        $(document).ready(function () {
            console.log("Button works");
            // Function to load vacancies using AJAX
            function loadVacancies() {
                // Make an AJAX request to your controller action
                $.ajax({
                    type: "GET", // Use GET or POST, depending on your server-side implementation
                    url: "/Vacancy/Index", // Update with the actual URL
                    dataType: "html", // Expect HTML content in response
                    success: function (data) {
                        // Update the vacancyListContainer with the loaded vacancies
                        $("#vacancyListContainer").html(data);
                    },
                    error: function (xhr, status, error) {
                        // Handle AJAX error
                        console.log("AJAX error: " + error);
                    }
                });
            }

            // Initial load of vacancies when the page loads
            loadVacancies();

            // Event handler for a button or trigger that loads vacancies
            $("#loadVacanciesButton").click(function () {
                loadVacancies();
            });
        });

    </script>
}
<script src="~/company/plugins/highlight/highlight.pack.js"></script>
<script src="~/company/assets/js/custom.js"></script>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/company/assets/js/scrollspyNav.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->