@model List<VacancyDto>
<link rel="stylesheet" href="~/css/media.css">

<main>

    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("SearchBar")

            @foreach (var item in Model)
            {
                <div class="col-md-12 my-vacancy">
                    <div class="vacancy mb-3 border p-3" style="padding-top:15px">
                        <div class="row">
                            <div class="col-md-2 vacancy-mobile">
                                <a href="@Url.Action("Chosen","Vacancy", new { id = item.VacancyId})">
                                    <img style="max-width: 80px; max-height: 80px;"
                                         class="company-logo"
                                         src="~/images/logos/@item.CompanyLogoImage"
                                         alt="Company Logo" />
                                </a>
                            </div>
                            <div class="col-md-6 vacancy-mobile-2">
                                <h3 class="job-title">@item.VacancyName</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><i class="fas fa-building"></i> @item.CompanyName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><i class="fas fa-map-marker"></i> @item.CityName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><i class="fas fa-calendar"></i> Son gün: @item.ExpireDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="floating-div" style="width: 37%; float: right">
                                    <p class="full-time">
                                        <i class="fas fa-clock"></i> @item.JobTypeName
                                    </p>
                                    <p><i class="fas fa-calendar"></i> @item.StartDate.ToString("dd.MM.yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @await Component.InvokeAsync("Pagination", ViewBag.PaginationModel)
        </div>
    </div>

</main>




<script src="~/company/bootstrap/js/popper.min.js"></script>
<script src="~/company/bootstrap/js/bootstrap.min.js"></script>
<script src="~/company/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/company/assets/js/app.js"></script>
<script src="~/js/search.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/company/plugins/highlight/highlight.pack.js"></script>
<script src="~/company/assets/js/custom.js"></script>
<script src="~/company/assets/js/scrollspyNav.js"></script>

