@using Impulse.Core.Requests
@model AddVacancyRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vakansiya Əlavə edin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media.css" />
</head>
<body>
    <!-- Main -->

    <main>
        <div class="container">
            <div>
                <h1 class="text-primary">Vakansiya Haqqında Məlumat</h1>
            </div>
        </div>
        <div class="container mt-5 add-vacancy">
            <form asp-action="AddVacancy" enctype="multipart/form-data" method="post" @Url.Action("AddVacancy", "CompanyHome", new {area="Company"})>

                @Html.ValidationSummary(true)
                <div class="form-group">

                    <label for="vacancy-name">Vakansiyanın Adı:</label>
                    @Html.ValidationMessageFor(c => c.VacancyName)
                    <input required type="text" class="form-control" name="vacancyname" />

                    <div class="form-group">
                        <label for="workForm">İş Forması:</label>
                        <select asp-for="WorkFormId" class="form-control" id="WorkForms" name="WorkFormId">
                            @foreach (var workForm in ViewBag.WorkForms)
                            {
                                <option selected="@workForm.WorkFormId" value="@workForm.WorkFormId">@workForm.WorkFormName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="JobType">İş Tipi:</label>
                        <select asp-for="JobTypeId" class="form-control" id="jobTypes" name="JobTypeId">
                            @foreach (var jobType in ViewBag.JobTypes)
                            {
                                <option selected="@jobType.JobTypeId" value="@jobType.JobTypeId">@jobType.JobTypeName</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="JobType">İşin kateqoriyası:</label>
                        <select asp-for="JobTypeId" class="form-control" id="JobCategories" name="JobCategoryId">

                            @foreach (var jobCategory in ViewBag.JobCategories)
                            {
                                <option selected="@jobCategory.JobCategoryId" value="@jobCategory.JobCategoryId">@jobCategory.JobCategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="City">Şəhər:</label>
                        <select asp-for="CityId" class="form-control" id="Cities" name="Cities">
                            @foreach (var City in ViewBag.Cities)
                            {
                                <option selected="@City.CityId" value="@City.CityId">@City.CityName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Experience">Təcrübə:</label>
                        <select asp-for="ExperienceId" class="form-control" id="Experiences" name="ExperienceId">
                            @foreach (var Experience in ViewBag.Experiences)
                            {
                                <option value="@Experience.ExperienceId">@Experience.ExperienceName</option>
                            }

                        </select>
                    </div>  <div class="form-group">
                        <label for="Education">Təhsil:</label>
                        <select asp-for="EducationId" class="form-control" id="Educations" name="EducationId">
                            @foreach (var Education in ViewBag.Educations)
                            {
                                <option selected="@Education.EducationId" value="@Education.EducationId">@Education.EducationName</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Vakansiya üçün açıqlama:</label>
                        @Html.ValidationMessageFor(c => c.Description)

                        <textarea required
                                  class="form-control"
                                  id="description"
                                  rows="5"
                                  name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        @Html.ValidationMessageFor(c => c.Email)

                        <input required
                               type="email"
                               class="form-control"
                               id="email"
                               placeholder="example@example.com"
                               name="email" />
                    </div>
                    <div class="form-group">
                        <label for="logo">Loqo:</label>
                        <div class="custom-file">
                            <input required
                                   type="file"
                                   asp-for="Logo"
                                   class="custom-file-input"
                                   id="logo"
                                   name="logo"
                                   accept=".jpeg, .jpg, .png" />
                            <label class="custom-file-label" for="logo">Choose file</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </main>
    <!-- Main End -->
    <!-- Footer -->

    <div class="footer">
        <div class="col-md-4">
            <div class="container-sm">
                <img src="/images/logo.png" alt="" />
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="footer-border row">
        <div class="col-md-4 left-p">
            <p>Copyright © 2023</p>
        </div>
        <div class="col-md-4 right-p">
            <p>CV-Land</p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Still not sure if the code below works or not  -->
    <script src="/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</body>
</html>
